/Assignment-data
/IR_Project/pdfs
/IR_Project/output.json
/IR_Project/processing_state.json
/IR_Project/chunks_metadat*
/IR_Project/vector_inde*
/IR_Project/tau*
/IR_Project/env
/IR_Project/__pycache__
/IR_Assignments/exp3/*.json
